/*------------------------------------*\
    #TYPE
\*------------------------------------*/



@include createClassesFromMap(font-family, font-family, $font-family);



@include createClassesFromMap(letter-spacing, letter-spacing, $letter-spacing);



@include createClassesFromMap(font-size, font-size, $font-size);



@include createClassesFromMap(font-weight, font-weight, $font-weight);



@include createClassesFromMap(line-height, line-height, $line-height);



@include createClassesFromMap(color, color, $color);



@include createClassesFromMap(background-color, background-color, $color);



@include createClassesFromMap(text-align, text-align, $text-align);



@include createClassesFromMap(text-decoration, text-decoration, $text-decoration);



@include createClassesFromMap(text-transform, text-transform, $text-transform);




/*------------------------------------*\
    #LISTS
\*------------------------------------*/



@include createClassesFromMap(list-style, list-style, $list-style);






/*------------------------------------*\
    #CSS3
\*------------------------------------*/



.optimize-transition{
    transform: translateZ(0) !important;
}



.rotate--90{
    transform: rotate(90deg) !important;
}


.rotate--180{
    transform: rotate(180deg) !important;
}


.rotate---90{
    transform: rotate(-90deg) !important;
}


.rotate---180{
    transform: rotate(-180deg) !important;
}



@include createClassesFromMap(transition-duration, transition-speed, $transition-speed);


@include createClassesFromMap(transition-timing-function, transition-type, $transition-type);




/*------------------------------------*\
    #PADDING
\*------------------------------------*/



@include createClassesFromMap(padding, padding, $spacing);

    @include createMQClassesFromMap(padding, padding, $spacing);


@include createClassesFromMap(padding-left, padding-left, $spacing);

   @include createMQClassesFromMap(padding-left, padding-left, $spacing);


@include createClassesFromMap(padding-right, padding-right, $spacing);

   @include createMQClassesFromMap(padding-right, padding-right, $spacing);


@include createClassesFromMap(padding-top, padding-top, $spacing);

    @include createMQClassesFromMap(padding-top, padding-top, $spacing);


@include createClassesFromMap(padding-bottom, padding-bottom, $spacing);

   @include createMQClassesFromMap(padding-bottom, padding-bottom, $spacing);





/*------------------------------------*\
    #MARGIN
\*------------------------------------*/



@include createClassesFromMap(margin, margin, $spacing);

    @include createMQClassesFromMap(margin, margin, $spacing);


@include createClassesFromMap(margin-left, margin-left, $spacing);

    @include createMQClassesFromMap(margin-left, margin-left, $spacing);


@include createClassesFromMap(margin-right, margin-right, $spacing);

    @include createMQClassesFromMap(margin-right, margin-right, $spacing);


@include createClassesFromMap(margin-top, margin-top, $spacing);

    @include createMQClassesFromMap(margin-top, margin-top, $spacing);


@include createClassesFromMap(margin-bottom, margin-bottom, $spacing);

    @include createMQClassesFromMap(margin-bottom, margin-bottom, $spacing);




    
/*------------------------------------*\
    #SIZES
\*------------------------------------*/



@include createClassesFromMap(height, height, $sizes);

    @include createMQClassesFromMap(height, height, $sizes);



@include createIncrementalNumberClasses(max-height, max-height, 50, 15);



@include createClassesFromMap(width, width, $sizes);

    @include createMQClassesFromMap(width, width, $sizes);



@include createIncrementalNumberClasses(max-width, max-width, 50, 15);




/*------------------------------------*\
    #DISPLAYS
\*------------------------------------*/



@include createClassesFromMap(display, display, $display);

@include createMQClassesFromMap(display, display, $display);



@include createMQClassesFromMap(align-items, flex-align-items, $align-items);


@include createMQClassesFromMap(flex-wrap, flex-wrap, $flex-wrap);


@include createMQClassesFromMap(flex-direction, flex-direction, $flex-direction);


@include createMQClassesFromMap(justify-content, justify-content, $justify-content);




/*------------------------------------*\
    #VISIBILITY
\*------------------------------------*/



.visible{
    visibility: visible !important;
}


.invisible{
    visibility: hidden !important;
}



.opaque{
    opacity: 1 !important;
}


.transparent{
    opacity: 0 !important;
}





/*------------------------------------*\
    #POSITIONS
\*------------------------------------*/



.relative{
    position: relative !important;
}



.fixed{
    position: fixed !important;
}


.fixed--cover{
    position: fixed !important;
    top:    0 !important;
    left:   0 !important;
    right:  0 !important;
    bottom: 0 !important;
}



.absolute{
    position: absolute !important;
}


.absolute--cover{
    position: absolute !important;
    top:    0 !important;
    left:   0 !important;
    right:  0 !important;
    bottom: 0 !important;
}



@include createClassesFromMap(float, float, $float);



@include createClassesFromMap(vertical-align, vertical-align, $vertical-align);





/*------------------------------------*\
    #CONTAINMENT
\*------------------------------------*/



@include createClassesFromMap(overflow, overflow, $overflow);


@include createClassesFromMap(overflow-x, overflow-x, $overflow);


@include createClassesFromMap(overflow-y, overflow-y, $overflow);



.overflow-touch{
    -webkit-overflow-scrolling: touch !important;
}



@include createClassesFromMap(white-space, white-space, $white-space);





/*------------------------------------*\
    #CURSORS & #POINTERS
\*------------------------------------*/



@include createClassesFromMap(cursor, cursor, $cursor);



@include createClassesFromMap(pointer-events, pointer-events, $pointer-events);





/*------------------------------------*\
    #BORDERS
\*------------------------------------*/



@include createClassesFromMap(border-radius, border-radius, $border-radius);


@include createClassesFromMap(border-color, border-color, $color);


@include createClassesFromMap(border-width, border-width, $line-width);


@include createClassesFromMap(border-style, border-style, $border-style);




/*------------------------------------*\
    #IMAGES
\*------------------------------------*/



.background-size--cover{
    background-size: cover !important;
}


.background-size--contain{
    background-size: contain !important;
}



.background-repeat--no-repeat{
    background-repeat: no-repeat !important;
}


.background-repeat--repeat{
    background-repeat: repeat !important;
}





/*------------------------------------*\
    #MISC
\*------------------------------------*/



@include createClassesFromMap(z-index, z-index, $z-index);



.hidden-scrollbar{

    &::-webkit-scrollbar{
        width:  0 !important;
        height: 0 !important;
    }

    &::-webkit-scrollbar-track{
        background: transparent !important;
    }

    &::-webkit-scrollbar-thumb {
        background: transparent !important;
    }

    &::-webkit-scrollbar-thumb:window-inactive{
        background: transparent !important;
    }
}





/*------------------------------------*\
    #CLEARFIX
\*------------------------------------*/



.clearfix{

    &:before,
    &:after{
        content: "" !important;
        display: block !important;
    }

    &:after{
        clear: both !important;
    }
   
}
