/*
@name trumps

@guide
Place styles here that should not be overridden.
Trumps should have 1 singular job, therefore its !important
they do their job. Get the hint?
*/




/*------------------------------------*\
    #TYPE
\*------------------------------------*/



@include createClassesFromMap(font-family, $font-family, false, ff);


@include createClassesFromMap(letter-spacing, $letter-spacing, false, ls);


@include createClassesFromMap(font-size, $font-size, false, fs);


@include createClassesFromMap(font-weight, $font-weight, false, fw);


@include createClassesFromMap(line-height, $line-height, false, lh);


@include createClassesFromMap(color, $color);


@include createClassesFromMap(background-color, $color, false, bgc);


@include createClassesFromMap(text-align, $text-align, false, ta);


@include createClassesFromMap(text-decoration, $text-decoration, false, td);


@include createClassesFromMap(text-transform, $text-transform, false, tt);




/*------------------------------------*\
    #LISTS
\*------------------------------------*/



@include createClassesFromMap(list-style, $list-style);






/*------------------------------------*\
    #CSS3
\*------------------------------------*/



.optimize-transition{
    transform: translateZ(0) !important;
}



.rotate--90{
    transform: rotate(90deg) !important;
}


.rotate--180{
    transform: rotate(180deg) !important;
}


.rotate---90{
    transform: rotate(-90deg) !important;
}


.rotate---180{
    transform: rotate(-180deg) !important;
}




/*------------------------------------*\
    #PADDING
\*------------------------------------*/



@include createClassesFromMap(padding, $spacing, true);


@include createClassesFromMap(padding-left, $spacing, true);


@include createClassesFromMap(padding-right, $spacing, true);


@include createClassesFromMap(padding-top, $spacing, true);


@include createClassesFromMap(padding-bottom, $spacing, true);





/*------------------------------------*\
    #MARGIN
\*------------------------------------*/



@include createClassesFromMap(margin, $spacing, true);


@include createClassesFromMap(margin-left, $spacing, true);


@include createClassesFromMap(margin-right, $spacing, true);


@include createClassesFromMap(margin-top, $spacing, true);


@include createClassesFromMap(margin-bottom, $spacing, true);




/*------------------------------------*\
    #SIZES
\*------------------------------------*/



@include createClassesFromMap(height, $sizes, true);


@include createClassesFromMap(width, $sizes, true);




/*------------------------------------*\
    #DISPLAYS
\*------------------------------------*/



@include createClassesFromMap(display, $display, true);


@include createClassesFromMap(align-items, $align-items);


@include createClassesFromMap(flex-wrap, $flex-wrap);


@include createClassesFromMap(flex-direction, $flex-direction);


@include createClassesFromMap(justify-content, $justify-content);




/*------------------------------------*\
    #VISIBILITY
\*------------------------------------*/



.visible{
    visibility: visible !important;
}


.invisible{
    visibility: hidden !important;
}



.opaque{
    opacity: 1 !important;
}


.transparent{
    opacity: 0 !important;
}





/*------------------------------------*\
    #POSITIONS
\*------------------------------------*/



.relative{
    position: relative !important;
}



.fixed{
    position: fixed !important;
}


.fixed--cover{
    position: fixed !important;
    top:    0 !important;
    left:   0 !important;
    right:  0 !important;
    bottom: 0 !important;
}



.absolute{
    position: absolute !important;
}


.absolute--cover{
    position: absolute !important;
    top:    0 !important;
    left:   0 !important;
    right:  0 !important;
    bottom: 0 !important;
}



@include createClassesFromMap(float, $float, true);


@include createClassesFromMap(vertical-align, $vertical-align);




/*------------------------------------*\
    #CONTAINMENT
\*------------------------------------*/



@include createClassesFromMap(overflow, $overflow);


@include createClassesFromMap(overflow-x, $overflow);


@include createClassesFromMap(overflow-y, $overflow);


@include createClassesFromMap(white-space, $white-space);


.overflow-touch{
    -webkit-overflow-scrolling: touch !important;
}




/*------------------------------------*\
    #CURSORS & #POINTERS
\*------------------------------------*/



@include createClassesFromMap(cursor, $cursor);


@include createClassesFromMap(pointer-events, $pointer-events);





/*------------------------------------*\
    #BORDERS
\*------------------------------------*/



@include createClassesFromMap(border-radius, $border-radius);


@include createClassesFromMap(border-color, $color);


@include createClassesFromMap(border-width, $line-width);


@include createClassesFromMap(border-style, $border-style);




/*------------------------------------*\
    #IMAGES
\*------------------------------------*/



.background-size--cover{
    background-size: cover !important;
}


.background-size--contain{
    background-size: contain !important;
}



.background-repeat--no-repeat{
    background-repeat: no-repeat !important;
}


.background-repeat--repeat{
    background-repeat: repeat !important;
}





/*------------------------------------*\
    #MISC
\*------------------------------------*/



@include createClassesFromMap(z-index, $z-index);



.hidden-scrollbar{

    &::-webkit-scrollbar{
        width:  0 !important;
        height: 0 !important;
    }

    &::-webkit-scrollbar-track{
        background: transparent !important;
    }

    &::-webkit-scrollbar-thumb {
        background: transparent !important;
    }

    &::-webkit-scrollbar-thumb:window-inactive{
        background: transparent !important;
    }
}





/*------------------------------------*\
    #CLEARFIX
\*------------------------------------*/



.clearfix{

    &:before,
    &:after{
        content: "" !important;
        display: block !important;
    }

    &:after{
        clear: both !important;
    }
   
}
