/*
@name objects

@guide
Objects are the big picture, the final piece
and they should be able to stand alone without help.
All of an object's __elements and --modifiers should be placed
here with them.
When creating new objects, I recommend creating a SASS map along
with them to provide customization in the future.
*/




/*------------------------------------*\
    #TYPE
\*------------------------------------*/



/*
@example
<h4 class='title--m'></h4>
*/

.title--m{
    font-family:    map-deep-get($title, "m" "font-family");
    font-size:      map-deep-get($title, "m" "font-size");
    font-weight:    map-deep-get($title, "m" "font-weight");
    letter-spacing: map-deep-get($title, "m" "letter-spacing");
    line-height:    map-deep-get($title, "m" "line-height");
}


.title--l{
    font-family:    map-deep-get($title, "l" "font-family");
    font-size:      map-deep-get($title, "l" "font-size");
    font-weight:    map-deep-get($title, "l" "font-weight");
    letter-spacing: map-deep-get($title, "l" "letter-spacing");
    line-height:    map-deep-get($title, "l" "line-height");
}


.title--xl{
    font-family:    map-deep-get($title, "xl" "font-family");
    font-size:      map-deep-get($title, "xl" "font-size");
    font-weight:    map-deep-get($title, "xl" "font-weight");
    letter-spacing: map-deep-get($title, "xl" "letter-spacing");
    line-height:    map-deep-get($title, "xl" "line-height");
}


.title--xxl{
    font-family:    map-deep-get($title, "xxl" "font-family");
    font-size:      map-deep-get($title, "xxl" "font-size");
    font-weight:    map-deep-get($title, "xxl" "font-weight");
    letter-spacing: map-deep-get($title, "xxl" "letter-spacing");
    line-height:    map-deep-get($title, "xxl" "line-height");
}




/*------------------------------------*\
    #LOAD-BAR
\*------------------------------------*/



/*
@description
Functionality for this is in _bbjs-utilities.js

@example
<div class="load-bar" role="progressbar"></div>
*/

.load-bar{
    position: fixed;
    top:  0;
    left: 0;
    z-index: map-get($z-index, "max");
    height: map-get($load-bar, "height");
    background-color: map-get($load-bar, "background-color");
    transform: translateZ(0);
    transition: width map-get($transition-speed, "medium") map-get($transition-type, "linear");
    pointer-events: none;
    
    &.done{
        opacity: 0;
    }
}




/*------------------------------------*\
    #FORMS
\*------------------------------------*/



/*
@example
<label class='label'></label>
<input class='input'></div>
*/

.label{
    display: block;
    color: map-deep-get($forms, "label" "color");
    margin: map-deep-get($forms, "label" "margin");
}


.input{
    border: map-deep-get($forms, "input" "border");
    padding: map-deep-get($forms, "input" "padding");
    color: map-deep-get($forms, "input" "color");
    transition: border-color map-get($transition-speed, "extra-fast") map-get($transition-type, "cubic");

    &:hover,
    &:focus{
        border-color: map-deep-get($forms, "input" "hover" "border-color");
    }
}


.input--error{
    background-color: map-get($color, "light-red");
}


.input--success{
    background-color: map-get($color, "light-green");
}




/*------------------------------------*\
    #ICONS
\*------------------------------------*/



/*
@example
<div class="menu-icon">
    <div class="menu-icon__line"></div>
    <div class="menu-icon__line"></div>
    <div class="menu-icon__line"></div>
</div>
*/

.menu-icon{
    width: map-get($hamburger, "width");
    padding: map-get($hamburger, "padding");
    cursor: pointer;
}


.menu-icon__line{
    background-color: map-deep-get($hamburger, "line" "background-color");
    height: map-deep-get($hamburger, "line" "height");
    margin-top: map-deep-get($hamburger, "line" "spacing");
    display: block;

    &:nth-of-type(1){
        margin-top: 0;
    }
}



.close-icon{
    position: absolute;
    top:   0;
    right: 0;
    margin-top:   -#{map-get($close-icon, "padding")};
    margin-right: -#{map-get($close-icon, "padding")};

    // Padding is for clickability, not for offset from corners.
    // Apply class of close-icon--no-icon to add offsets.
    padding: map-get($close-icon, "padding");
    display: inline-block;
    cursor: pointer;
    transition: transform map-get($transition-speed, "extra-fast") map-get($transition-type, "cubic");
    font-size: map-get($close-icon, "font-size");
    color: map-get($close-icon, "color");

    &:after{
        content: map-deep-get($close-icon, "icon" "symbol");
        font-size: inherit;
        line-height: map-deep-get($close-icon, "icon" "line-height");
        display: block;
    }

    &:hover{
        transform: scale3D(1.1, 1.1, 1.1);
    }

    &:active{
        transform: scale3D(0.9, 0.9, 0.9);
    }

    &.close-icon--to-left{
        right: inherit;
        left: 0;
    }

    &.close-icon--no-icon{

        &:after{
            display: none;
        }
    }

    &.close-icon--no-offset{
        margin: 0;
    }

}





/*------------------------------------*\
    #RULES
\*------------------------------------*/



/*
@example
<hr class='hr  hr--medium'>
*/

.hr{
    border:  none;
    outline: none;
    height: map-get($hr, "height");
    display: block;
    background-color: map-get($hr, "background-color");
    margin-top:    map-get($hr, "margin");
    margin-bottom: map-get($hr, "margin");
    max-width: map-get($hr, "max-width");
}


.hr--medium{
    height: map-get($line-width, "m");
}


.hr--thick{
    height: map-get($line-width, "l");
}




/*------------------------------------*\
    #LISTS
\*------------------------------------*/



/*
@example
<ul>
    <li class='list-item  list-item--smaller'></li>
    <li class='list-item  list-item--smaller'></li>
</ul>

<ul>
    <li class='list-item--vertical'></li>
    <li class='list-item--vertical'></li>
</ul>
*/

.list-item{
    display: inline-block;
    margin-right: map-get($spacing, "s");

    &:nth-last-child(1){
        margin-right: 0;
    }
}


.list-item--smaller{
    margin-right: map-get($spacing, "xs");
}


.list-item--larger{
    margin-right: map-get($spacing, "m");
}


.list-item--vertical{
    display: block;
    margin-bottom: map-get($spacing, "s");

    &:nth-last-child(1){
        margin-bottom: 0;
    }
}


.list-item--vertical--smaller{
    margin-bottom: map-get($spacing, "xs");
}


.list-item--vertical--larger{
    margin-bottom: map-get($spacing, "m");
}




/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/



/*
@example
<div class="button  button--black  button--tall">Click Me</div>
*/

.button{
    cursor: pointer;
    border: solid map-get($button, "border-width") transparent;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    padding: map-deep-get($button, "base" "padding");
    height: map-deep-get($button, "base" "height");
    line-height: map-deep-get($button, "base" "line-height");

    &[disabled]{
        @extend %disabled;
    }
}



.button--short{
    height: map-deep-get($button, "short" "height");
    line-height: map-deep-get($button, "short" "line-height");
}


.button--tall{
    height: map-deep-get($button, "tall" "height");
    line-height: map-deep-get($button, "tall" "line-height");
}



.button--narrow{
    padding: map-deep-get($button, "narrow" "padding");
}


.button--wide{
    padding: map-deep-get($button, "wide" "padding");
}



.button--black{
    background-color: map-get($color, "black");
    color: map-get($color, "white");
    border-color: map-get($color, "black");
    transition: all map-get($transition-speed, "fast") map-get($transition-type, "linear");

    &:hover{
        background-color: map-get($color, "white");
        color: map-get($color, "black");
    }
}


.button--white{
    background-color: map-get($color, "white");
    color: map-get($color, "black");
    border-color: map-get($color, "black");
    transition: all map-get($transition-speed, "fast") map-get($transition-type, "linear");

    &:hover{
        background-color: map-get($color, "black");
        color: map-get($color, "white");
    }
}



/*------------------------------------*\
    #OVERLAY
\*------------------------------------*/



/*
@example
<div class="overlay__wrap">
    <div class="overlay">Overlay Content</div>
</div>
*/

.overlay__wrap{
    position: relative;

    &:hover{

        .overlay{
            opacity: 1;
            visibility: visible;
        }
    }
}


.overlay{
    position: absolute;
    left:   map-get($overlay, "offset");
    right:  map-get($overlay, "offset");
    top:    map-get($overlay, "offset");
    bottom: map-get($overlay, "offset");
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition: opacity map-get($transition-speed, "fast") map-get($transition-type, "linear");
    z-index: map-get($z-index, "overlay");
    padding: map-get($overlay, "padding");
    background-color: map-get($overlay, "background-color");
}




/*------------------------------------*\
    #WYSIWYG
\*------------------------------------*/



/*
@description
Wrapper for user entered content to "reset" styles.

@example
<div class="wysiwyg">Im user generated content.</div>
*/

.wysiwyg{
    line-height: map-get($line-height, "l");
    
    // h1-h4 styles will be inherited from bbui_base
    h1, h2{
        margin-bottom: map-get($spacing, "l");
    }

    h3{
        margin-bottom: map-get($spacing, "m");
    }

    h4{
        margin-bottom: map-get($spacing, "s");
    }

    ol,
    ul{
        margin-bottom: map-get($spacing, "s");
        margin-left: map-get($spacing, "m");
    }

    ol{
        list-style-type: decimal;
    }

    ul{
        list-style-type: square;
    }

    p{
        margin-top: map-get($spacing, "s");
    }

    b,
    strong{
        font-family: map-get($font-family, "bold");
    }
}





/*------------------------------------*\
    #BREADCRUMBS
\*------------------------------------*/



/*
@example
<ul>
    <li class='breadcrumb'></li>
    <li class='breadcrumb'></li>
</ul>
*/

.breadcrumb{
    display: inline-block;

    &:after{
        content: "|";
        display: inline-block;
        padding: 0 5px;
    }

    &:nth-last-of-type(1){

        &:after{
            display: none;
        }
    }
}




/*------------------------------------*\
    #MODALS
\*------------------------------------*/



/*
@description
Simple modal. For hide functionality apply a js-toggle class
to the close trigger. See example below.

@example
<div class="modal">
            
    <div class="center-table">
        <div class="center-table-cell">
            
            <div class="modal__inner">
                <span class="modal__close  js-toggle" data-toggle="newsletter"></span>
            </div>

        </div>
    </div>

</div>


Apply a js-modal class to the modal if you want the modal
to appear on immediately rather than from a user triggered event.

@example
<div class="modal  js-modal">
    
    <div class="center-table">
        <div class="center-table-cell">
            <div class="modal__inner">
                <span class="modal__close  js-modal__close"></span>
                Modal content
            </div>
        </div>
    </div>

</div>
*/

.modal{
    background-color: map-get($modal, "background-color");
    z-index: map-get($z-index, "max");
    position: fixed;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    padding: map-get($modal, "padding");
    display: none;
}


.modal__inner{
    background-color: map-deep-get($modal, "inner" "background-color");
    padding: map-deep-get($modal, "inner" "padding");
    max-width: map-deep-get($modal, "inner" "max-width");
    width: 100%;
    margin-left:  auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}


.modal__close{
    @extend .close-icon;
    margin: 0;
}




/*------------------------------------*\
    #DROPDOWN
\*------------------------------------*/



/*
@description
Simple content dropdowns

@example
<div class='dropdown'>
    <div class='dropdown__summary  js-toggle' data-toggle='dropdown__content' use-parent="true">Toggle</div>
    <div class='dropdown__content'>Im some content</div>
</div>
*/

.dropdown{
    position: relative;
}


.dropdown__content--toggled{

    .dropdown__content{
        display: block;
    }
}


.dropdown__summary{
    display: inline-block;
    user-select: none;
}


.dropdown__content{
    display: none;
    margin-top: map-get($spacing, "s");
    max-height: map-get($dropdown, "max-height");
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}




/*------------------------------------*\
    #TABS
\*------------------------------------*/


/*
@description
.tab__content should have a hidden class applied to it.
tabs functionality is in bbjs-utilities.js

@example
<div class='js-tab-toggle  tab__summary' data-tab='0'>Toggle</div>
<div class='js-tab-content  tab__content' data-tab='0'>Im some content</div>
*/

.tab__summary{
    cursor: pointer;
    display: inline-block;
    user-select: none;
    margin-right: map-get($spacing, "m");

    &:nth-last-of-type(1){
        margin-right: 0;
    }
}


.tab__content{
    margin-top: map-get($spacing, "s");
}



/*------------------------------------*\
    #DRAWERS
\*------------------------------------*/



/*
@description
Slide out from left or right drawers.

@example
<div class='js-toggle' data-toggle='drawer--right'></div>
<div class='drawer  drawer--right'></div>
<div class='drawer__overlay'></div>
*/

.drawer {
    position: fixed;
    top:    0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: map-get($z-index, "drawer");
    background: map-get($drawer, "background");
    transition: transform map-get($drawer, "transition");
    padding: map-get($drawer, "padding");
    transform: translateZ(0);
    -webkit-overflow-scrolling: touch;
    width: map-get($drawer, "width");
    @extend .hidden-scrollbar;
}


.drawer--left{
    left: -#{map-get($drawer, "width")};
}


.drawer--right{
    right: -#{map-get($drawer, "width")};
}


// The overlay that appears when a drawer is open
.drawer__overlay{
    position: fixed;
    top:    0;
    bottom: 0;
    left:   0;
    right:  0;
    visibility: hidden;
    opacity: 0;
    transform: translateZ(0);
    z-index: map-get($z-index, "drawerOverlay");
    transition: opacity map-get($drawer, "transition");
    background: map-deep-get($drawer, "overlay" "background");
}


.drawer--left--toggled,
.drawer--right--toggled{
    @extend %scroll-locked;

    .drawer__overlay{
        visibility: visible;
        opacity: 1;
    }
}


// Left drawer open state
.drawer--left--toggled{

    .drawer--left{
        transform: translateX(map-get($drawer, "width")) translateZ(0);
    }

    .will-move{
        transform: translateX(map-get($drawer, "width")) translateZ(0);
    }
}


// Right drawer open state
.drawer--right--toggled{

    .drawer--right{
        transform: translateX(-#{map-get($drawer, "width")}) translateZ(0);
    }

    .will-move{
        transform: translateX(-#{map-get($drawer, "width")}) translateZ(0);
    }
}


// Anything with this class will be 
// pushed left or right when a drawer is open
.will-move{
    transition: transform map-get($drawer, "transition");
}

