/*
@name components

@guide
Components should have multiple jobs. They are compound.
By themselves, components dont form any elements,
they help form them. 
*/





/*------------------------------------*\
    #GRIDS
\*------------------------------------*/



.grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    @include noFlex{
        display: block;
        overflow: hidden;
    }
}




/*------------------------------------*\
    #TABLES
\*------------------------------------*/



.center-table{
    display: table;
    table-layout: fixed;
    height: 100%;
    width:  100%;
    text-align: center;
}


.center-table-cell{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}




/*------------------------------------*\
    #DISPLAYS
\*------------------------------------*/



.hidden{
    display: none !important;
    speak: none;
}



@include displayOn;





/*------------------------------------*\
    #MISC-SPACING
\*------------------------------------*/



.mlr--auto{
    margin-left:  auto;
    margin-right: auto;
}




/*------------------------------------*\
    #MEDIA
\*------------------------------------*/



.aspect-ratio__object{
    position: absolute;
    top:  0;
    left: 0;
    height: 100%;
    width:  100%;
    object-fit:      cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    object-position:     50%;
}




/*------------------------------------*\
    #STATES
\*------------------------------------*/



.disabled{
    opacity: 0.5;
    pointer-events: none;
}



// Expects to be on the root element.
.lock-scroll{
    overflow: hidden;

    &.touchevents:not(.desktop){
        height: 100%;

        body{
            height: 100%;
        }
    }

    body{
        overflow: hidden;
    }
}




/*------------------------------------*\
    #MISC
\*------------------------------------*/



// data-toggle attributes are used in _bbjs-utilities.js

[data-toggle]{
    @extend .a;
}
